.li-style {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px black solid;
}

.li-value {
  cursor: pointer;
}

.crossed-out {
  text-decoration: line-through;
}

.btn-container {
  margin-left: auto;
}

.btn-todo-list-item {
  padding: 0;
  height: 26px;
  width: 26px;
}

.btn-todo-list-item:first-child {
  margin-right: 6px;
}

.important {
  background-color: #E9E6AE;
}

.important .btn-important {
  color: white;
  background-color: #375A59;
}