button {
  border: 1px black solid;
  color: black;
  background-color: white;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  border: 2px black solid;
  box-shadow: 4px 4px darkgray;
}