.li-style {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px black solid;
}

.li-value {
  margin: 0 8px;
  cursor: pointer;
}

.crossed-out {
  text-decoration: line-through;
}

.important {
  background-color: #7F8087;
}

.important .btn-important {
  background-color: #B8BD61;
}